* {
    box-sizing: border-box;
    font-size: 0px;
}

#main {
    height: 100vh;
}

/* Layout For Screen Sizes Above 768px */

@media screen and (min-width: 768px) {
    #pink {
    display: inline-block;
    border: 5px solid white;
    height: 25vh;
    width: 100%;
    background-color: #F5C606;
}

#red {
    display: inline-block;
    border: 5px solid white;
    height: 25vh;
    width: 50%;
    background-color: #EE2E84;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#red.box1:hover {
    background-color:blue;
    opacity: 0.5;
}

#red.box2:hover {
    background-color: pink;
    opacity: 0.2;
}

#red.box3:hover {
    background-color: black;
    opacity: 0.1;
}

#red.box4:hover {
    background-color: gold;
    opacity: 0.60;
}

#red.box5:hover {
    background-color: purple;
    opacity: 0.45;
}

#red.box6:hover {
    background-color: green;
    opacity: 0.35;
}

#blue {
    display: inline-block;
    border: 5px solid white;
    height: 25vh;
    width: 50%;
    background-color: #85CFD8;
}

#green {
    display: inline-block;
    border: 5px solid white;
    height: 25vh;
    width: 75%;
    background-color: #8DC63F;
}

#orange {
    display: inline-block;
    border: 5px solid white;
    height: 25vh;
    width: 25%;
    background-color: #E76E34;
}
}

/* Layout for Screen Sizes Below 768px */
@media screen and (max-width: 768px) {
    #pink {
        display: block;
        border: 5px solid white;
        height: 25vh;
        width: 100%;
        background-color: #F5C606;
    }

    #red {
    display: block;
    border: 5px solid white;
    height: 25vh;
    width: 100%;
    background-color: #EE2E84;
}

#blue {
    display: block;
    border: 5px solid white;
    height: 25vh;
    width: 100%;
    background-color: #85CFD8;
}

#green {
    display: block;
    border: 5px solid white;
    height: 25vh;
    width: 100%;
    background-color: #8DC63F;
}

#orange {
    display: block;
    border: 5px solid white;
    height: 25vh;
    width: 100%;
    background-color: #E76E34;
}
}
